body {
  background-color: rgb(248, 241, 232);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  max-width: 80%;
  margin: 20px auto;

}

.bayan {
  padding-top: 20px;
  cursor: pointer;
}

.bayan-item {
  border-top: 5px solid lightgray;
}

.bayan-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 15px;
  color: blue;
  cursor: pointer;
  transition: all .2s ease-out;
}

.bayan:hover .bayan-title {
  color: black;
}

.bayan-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.bayan-input:hover+.bayan-text,
.bayan-input:checked+.bayan-text {
  /* display: block; */
}

.bayan-text {
  display: none;
  padding: 10px 15px;
  font-size: 30px;
  color: rgb(103, 206, 25);
  position: relative;
  width: 80%;
  margin: 0 auto;
}

p {
  font-weight: bold;
  position: absolute;
  left: 10%;
}

img {
  max-height: 60vh;
  display: block;
  width: 90%;
}