body {
  background-color: rgb(248, 241, 232);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.body {
  max-width: 80%;
  margin: 20px auto;

}

.bayan {
  padding-top: 20px;
  cursor: pointer;
}

.bayan-item {
  border-top: 3px solid lightgray;
}

.bayan-title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 15px;
  position: relative;
  color: blue;
  cursor: pointer;
  transition: all .2s ease-out;
}

.bayan:hover .bayan-title {
  color: black;
}

.bayan-input:checked+.bayan-title {
  color: black;
}

.bayan:hover .bayan-input:checked~.bayan-title:after {
  content: "x";
}

.bayan:hover .bayan-title:after {
  content: '+';
  display: block;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.bayan-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}


.bayan-input:hover~.bayan-text,
.bayan-input:checked~.bayan-text {
  display: block;
}

.bayan-text {
  display: none;
  padding: 10px 15px;
  font-size: 30px;
  color: rgb(103, 206, 25);
  position: relative;
  width: 80%;
  margin: 0 auto;
}

p {
  font-weight: bold;
  position: absolute;
  left: 10%;
}

img {
  max-height: 60vh;
  display: block;
  width: 90%;
}

@media screen and (max-width: 700px) {
  .bayan-title {
    font-size: 25px;
  }

  .bayan-text {
    font-size: 20px;
  }

  p {
    width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .bayan-title {
    font-size: 20px;
  }

  .bayan-text {
    font-size: 16px;
  }

  p {
    width: 80%;
  }
}